
body {
    max-width: 1366px !important;
    margin: 0 auto !important;
}

/*---------------Navbar---------------*/

.navbar {
    background-color: #fff;
}

.navbar .navbar-container {
    max-width: 1366px !important;
    margin: 0 auto !important;
}

.navbar .navbar-brand img {
    height: 48px;
}

.navbar .options li {
    height: 100%;
}

.navbar .options li a {
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
    color: #181817;
    font-size: 16px;
    transition: 0.2s;
}

.navbar .options li a:hover {
    color: darkred;
    opacity: 0.5;
    text-decoration: underline;
}

/*---------------Carousel---------------*/

.carousel .carousel-item img {
    /*height: 500px;*/
}

/*---------------Content---------------*/

.product-container {
    display: flex;
    justify-content: center;
}

.product-container .product-card {
    margin: 10px;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: lightgray 2px 1px 2px 1px;
}

.product-container .product-card .title {
    text-align: center;
    padding: 10px;
}

.product-container .product-card .image img {
    width: 100%;
    border-radius: 10px;
}

.product-container .product-card .description {
    text-align: justify;
    padding: 10px;
}